@model IEnumerable<expensetracker.Models.ContactMessage>
@{
    ViewData["Title"] = "MessageIndex";
    Layout = "~/Views/Shared/admin.cshtml";
}

<h1>MessageIndex</h1>


@foreach (var message in Model)
{
    <div>
        <p><strong>@message.Name</strong> (@message.Email) - <i>@message.SubmittedAt</i></p>
        <p>@message.Message</p>

        <form method="post" asp-action="DeleteMessage">
            <input type="hidden" name="messageId" value="@message.Id" />
            <button type="submit">Delete</button>
        </form>
    </div>
}

@TempData["SuccessMessage"]
